.vs/DevAutofac/v16/.suo
AutofacDev/bin/Debug/netcoreapp3.1/appsettings.json
AutofacDev/bin/Debug/netcoreapp3.1/Autofac.dll
AutofacDev/bin/Debug/netcoreapp3.1/Autofac.Extensions.DependencyInjection.dll
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.deps.json
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.dll
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.exe
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.pdb
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.runtimeconfig.dev.json
AutofacDev/bin/Debug/netcoreapp3.1/AutofacDev.runtimeconfig.json
AutofacDev/bin/Debug/netcoreapp3.1/Contexts.dll
AutofacDev/bin/Debug/netcoreapp3.1/Contexts.pdb
AutofacDev/bin/Debug/netcoreapp3.1/Data.dll
AutofacDev/bin/Debug/netcoreapp3.1/Data.pdb
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
AutofacDev/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
AutofacDev/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.AspNetCore.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Enrichers.Context.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Enrichers.Environment.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Enrichers.Process.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Enrichers.Thread.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Extensions.Hosting.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Extensions.Logging.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Filters.Expressions.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Formatting.Compact.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Settings.Configuration.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Sinks.Console.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Sinks.Debug.dll
AutofacDev/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
AutofacDev/bin/Debug/netcoreapp3.1/Services.dll
AutofacDev/bin/Debug/netcoreapp3.1/Services.pdb
AutofacDev/bin/Debug/netcoreapp3.1/Superpower.dll
AutofacDev/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
AutofacDev/obj/AutofacDev.csproj.nuget.dgspec.json
AutofacDev/obj/AutofacDev.csproj.nuget.g.props
AutofacDev/obj/AutofacDev.csproj.nuget.g.targets
AutofacDev/obj/project.assets.json
AutofacDev/obj/project.nuget.cache
AutofacDev/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.AssemblyInfo.cs
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.AssemblyInfoInputs.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.assets.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.csproj.CopyComplete
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.csproj.CoreCompileInputs.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.csproj.FileListAbsolute.txt
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.csprojAssemblyReference.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.dll
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.exe
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.genruntimeconfig.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.MvcApplicationPartsAssemblyInfo.cache
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.pdb
AutofacDev/obj/Debug/netcoreapp3.1/AutofacDev.RazorTargetAssemblyInfo.cache
AutofacDev/obj/Debug/netcoreapp3.1/staticwebassets/AutofacDev.StaticWebAssets.Manifest.cache
AutofacDev/obj/Debug/netcoreapp3.1/staticwebassets/AutofacDev.StaticWebAssets.xml
Contexts/bin/Debug/netcoreapp3.1/Contexts.deps.json
Contexts/bin/Debug/netcoreapp3.1/Contexts.dll
Contexts/bin/Debug/netcoreapp3.1/Contexts.pdb
Contexts/obj/Contexts.csproj.nuget.dgspec.json
Contexts/obj/Contexts.csproj.nuget.g.props
Contexts/obj/Contexts.csproj.nuget.g.targets
Contexts/obj/project.assets.json
Contexts/obj/project.nuget.cache
Contexts/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Contexts/obj/Debug/netcoreapp3.1/Contexts.AssemblyInfo.cs
Contexts/obj/Debug/netcoreapp3.1/Contexts.AssemblyInfoInputs.cache
Contexts/obj/Debug/netcoreapp3.1/Contexts.assets.cache
Contexts/obj/Debug/netcoreapp3.1/Contexts.csproj.CoreCompileInputs.cache
Contexts/obj/Debug/netcoreapp3.1/Contexts.csproj.FileListAbsolute.txt
Contexts/obj/Debug/netcoreapp3.1/Contexts.csprojAssemblyReference.cache
Contexts/obj/Debug/netcoreapp3.1/Contexts.dll
Contexts/obj/Debug/netcoreapp3.1/Contexts.pdb
Data/bin/Debug/netcoreapp3.1/Data.deps.json
Data/bin/Debug/netcoreapp3.1/Data.dll
Data/bin/Debug/netcoreapp3.1/Data.pdb
Data/obj/Data.csproj.nuget.dgspec.json
Data/obj/Data.csproj.nuget.g.props
Data/obj/Data.csproj.nuget.g.targets
Data/obj/project.assets.json
Data/obj/project.nuget.cache
Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Data/obj/Debug/netcoreapp3.1/Data.AssemblyInfo.cs
Data/obj/Debug/netcoreapp3.1/Data.AssemblyInfoInputs.cache
Data/obj/Debug/netcoreapp3.1/Data.assets.cache
Data/obj/Debug/netcoreapp3.1/Data.csproj.CoreCompileInputs.cache
Data/obj/Debug/netcoreapp3.1/Data.csproj.FileListAbsolute.txt
Data/obj/Debug/netcoreapp3.1/Data.csprojAssemblyReference.cache
Data/obj/Debug/netcoreapp3.1/Data.dll
Data/obj/Debug/netcoreapp3.1/Data.pdb
Services/bin/Debug/netcoreapp3.1/Contexts.dll
Services/bin/Debug/netcoreapp3.1/Contexts.pdb
Services/bin/Debug/netcoreapp3.1/Data.dll
Services/bin/Debug/netcoreapp3.1/Data.pdb
Services/bin/Debug/netcoreapp3.1/Services.deps.json
Services/bin/Debug/netcoreapp3.1/Services.dll
Services/bin/Debug/netcoreapp3.1/Services.pdb
Services/obj/project.assets.json
Services/obj/project.nuget.cache
Services/obj/Services.csproj.nuget.dgspec.json
Services/obj/Services.csproj.nuget.g.props
Services/obj/Services.csproj.nuget.g.targets
Services/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Services/obj/Debug/netcoreapp3.1/Services.AssemblyInfo.cs
Services/obj/Debug/netcoreapp3.1/Services.AssemblyInfoInputs.cache
Services/obj/Debug/netcoreapp3.1/Services.assets.cache
Services/obj/Debug/netcoreapp3.1/Services.csproj.CopyComplete
Services/obj/Debug/netcoreapp3.1/Services.csproj.CoreCompileInputs.cache
Services/obj/Debug/netcoreapp3.1/Services.csproj.FileListAbsolute.txt
Services/obj/Debug/netcoreapp3.1/Services.csprojAssemblyReference.cache
Services/obj/Debug/netcoreapp3.1/Services.dll
Services/obj/Debug/netcoreapp3.1/Services.pdb
