<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nameSMSProcessor" value="SMSProcessor" />
    <add key="provider" value="Yota"/>
    <add key="host" value="rabbitmq://localhost"/>
    <add key="queueName" value="smsservice"/>
    <add key="serilog:minimum-level" value="Information"/>
    <add key="serilog:minimum-level:override:Microsoft" value="Warning" />
    <add key="serilog:minimum-level:override:System" value="Warning" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="D:\Logs\LogSMSService{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
</configuration>